.page_home {
  .swiper {
    height: 200pt;

    image {
      width: 100%;
    }
  }

  .top-items {
    text-align: center;

    .avatar {
      height: 40pt;
      width: 40pt;
      border-radius: 20pt;
      margin-bottom: 10pt;
      background-size: contain;

      .avatar-img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
